# until https://github.com/juju/theblues/pull/46 and https://github.com/juju/theblues/pull/47
# are merged, this depends on the following fork:
git+https://github.com/johnsca/theblues/tree/libjuju#egg=theblues
